@charset "utf-8";
@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HakgyoansimWoojuR";
}
a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
}
.br {
  display: block;
}
.container {
  position: relative;
}
.bg_img {
  background: url("../image/bg1.jpg") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -10;
}
.icon_wrap {
  text-align: center;
  padding-top: 75px;
}
.icon_wrap > h2 {
  height: 70px;
  font-size: 30px;
  line-height: 70px;
}
.page {
  display: flex;
  position: absolute;
  top: 35px;
  right: 60px;
  gap: 20px;
}
.home,
.beer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_icon {
  background: url("../image/home.png") no-repeat center center;
  width: 30px;
  height: 30px;
  display: flex;
  background-size: contain;
}

.beer_icon {
  background: url("../image/beer.png") no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.soju_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../image/soju.png") no-repeat center center;
  background-size: contain;
}
.icon_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-indent: -9999px;
  margin-top: 50px;
  box-sizing: border-box;
}
.icon_list > li {
  width: 76px;
  height: 76px;
  box-sizing: border-box;
}
.icon_list > li > a {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  display: block;
  border: 1px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
}
.icon_list > li:nth-child(1) > a {
  background: url("../image/fresh_logo.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(2) > a {
  background: url("../image/fresh_red_logo.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(3) > a {
  background: url("../image/likefirst_logo.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(4) > a {
  background: url("../image/jinro_logo.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(5) > a {
  background: url("../image/chengha_logo.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(6) > a {
  background: url("../image/goodday_icon.png") no-repeat center center;
  background-size: contain;
}
.icon_list > li:nth-child(7) > a {
  background: url("../image/meahwa_logo.png") no-repeat center center;
  background-size: contain;
}

.contents {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.content {
  width: 100vw;
  height: 400px;
}
.fresh {
  position: relative;
  background-image: url(../image/fresh_bg.jpeg);
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 45%;
}
.grey_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #898989;
  z-index: 5;
  opacity: 0.3;
  transition: all 0.7s;
}
.grey_bg:hover {
  opacity: 0;
}

.fresh_red {
  position: relative;
  background-image: url(../image/fresh_red_bg.jpeg);
  background-size: cover;
  background-position-x: 56%;
}
.likefirst {
  position: relative;
  background-image: url(../image/likefirst.jpeg);
  background-size: cover;
  background-position-y: 50%;
}
.jinro {
  position: relative;
  background: url("../image/jinro_bg.jpeg") no-repeat center center;
}
.chengha {
  position: relative;
  background-image: url(../image/chengha_bg.jpeg);
  background-size: cover;
  background-position-y: 30%;
}
.goodday {
  position: relative;
  background: url("../image/goodday.png") no-repeat center right;
}
.meahwa {
  position: relative;
  background: rgb(249, 194, 233);
}
.meahwa_img {
  position: absolute;
  width: 100%;
  height: 400px;
  transform: scale(0.8);
  background: url("../image/meahwa2.png") no-repeat right 100px center;
  background-attachment: fixed;
  z-index: 3;
}
.info_box {
  width: 45%;
  height: 250px;
  background: rgb(247, 243, 243);
  margin-top: 110px;
  margin-left: 50px;
  border-radius: 10px;
  z-index: 4;
}
.soju_name {
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 6%;
  left: 6%;
  transform: translate(-6%, -6%);
}
.fresh_logo {
  width: 80px;
  height: 80px;
  background: url("../image/fresh_logo.png") no-repeat center center;
  background-size: contain;
}
.fresh_red_logo {
  width: 80px;
  height: 80px;
  background: url("../image/fresh_red_logo.png") no-repeat center center;
  background-size: contain;
}
.likefirst_logo {
  width: 80px;
  height: 80px;
  background: url("../image/likefirst_logo.png") no-repeat center center;
  background-size: contain;
}
.jinro_logo {
  width: 80px;
  height: 80px;
  background: url("../image/jinro_logo.png") no-repeat center center;
  background-size: contain;
}
.chengha_logo {
  width: 80px;
  height: 80px;
  background: url("../image/chengha_logo.png") no-repeat center center;
  background-size: contain;
}
.goodday_logo {
  width: 150px;
  height: 50px;
  background: url("../image/goodday_logo.png") no-repeat center center;
  background-size: contain;
}
.meahwa_logo {
  width: 80px;
  height: 80px;
  background: url("../image/meahwa_logo.png") no-repeat center center;
  background-size: contain;
}

table {
  width: 100%;
  height: 250px;
  z-index: 3;
}
th {
  font-size: 14px;
  width: 20%;
}
td {
  font-size: 12px;
}
.bottle_box {
  background: url("../image/bottle.png") no-repeat right center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin-right: 15px;
}
.pett_box {
  background: url("../image/pett.png") no-repeat right center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin-right: 15px;
}
.pocket_box {
  background: url("../image/pocket.png") no-repeat right center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin-right: 15px;
}
.pack_box {
  background: url("../image/pack.png") no-repeat right center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin-right: 15px;
}
.upButton {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  bottom: 40px;
  right: 60px;
  width: 75px;
  height: 75px;
  background: url("../image/upbutton.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  text-indent: -9999px;
  z-index: 5000;
}
.btn_on {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .icon_list {
    display: flex;
    flex-wrap: wrap;
  }
  .icon_list > li {
    width: 25%;
  }
  .page {
    right: 40px;
  }
  .info_box {
    position: relative;
    width: 65%;
    margin-top: 110px;
    margin-left: 50px;
  }
  tr,
  td,
  th {
    font-size: 13px;
  }
  .upButton {
    width: 65px !important;
    height: 65px !important;
  }
  .meahwa_img {
    background: url("../image/meahwa2.png") no-repeat right 0px center;
  }
}
@media screen and (max-width: 570px) {
  .icon_list > li > a {
    width: 50px;
    height: 50px;
  }
  .icon_wrap > h2 {
    height: 70px;
    font-size: 20px;
    line-height: 70px;
  }
  .page {
    right: 20px;
  }
  .page > a {
    font-size: 12px;
  }
  .info_box {
    width: 85%;
    margin-top: 110px;
    margin-left: 30px;
  }
  tr,
  td,
  th {
    font-size: 11px;
  }
  .br {
    display: inline-block;
  }
  .upButton {
    width: 45px !important;
    height: 45px !important;
    bottom: 30px;
    right: 20px;
  }
}
